.info-box {
  max-width: 300px;
  border-radius: 8px;
  border: 1px solid #ccc;
  padding: 10px;
}

.title {
  font-weight: 700;
  font-size: 20px;
  margin-bottom: 10px;
}

.description {
  font-weight: 300;
}

.button {
  border: none;
  background-color: #7b4ff5;
  color: #fff;
}